<div class="service-container">
    <header class="service-header">
      <div class="logo">Quick Fix</div>
      <nav class="nav-links">
        <a routerLink="/accDetails">My account</a>
      </nav>
    </header>
  
    <section class="service-selection" >
      <h2>What do you need today?</h2>
      <div class="service-buttons">
        <button class="btn service-btn">Plumber</button>
        <button class="btn service-btn">Mechanic</button>
        <button class="btn service-btn">Electrician</button>
        <button class="btn service-btn">Other</button>
      </div>
    </section>
</div>
  