<div class="account-details-container">
    <div class="profile-circle"></div>
  
    <h2>Your Account</h2>
  
    <div class="account-info">
      <div class="info-item">
        <label>Name:</label>
        <p>John Doe</p>
      </div>
      <div class="info-item">
        <label>Email:</label>
        <p></p>
      </div>
      <div class="info-item">
        <label>Phone number:</label>
        <p></p>
      </div>
      <div class="info-item">
        <label>Address:</label>
        <p></p>
      </div>
      <div class="info-item">
        <label>Subscription plan:</label>
        <p></p>
      </div>
    </div>
  
    <button class="btn edit-account-btn">Edit Account</button>
</div>
  